<!DOCTYPE html>
<html>
<head>
  <title>Curso Vue.js</title>
</head>
<body>
  <div id="root">

    <ul>
    
      <li v-for="name in names" v-text="name"></li>

    </ul>

    <input type="text" name="input" v-model="newName" >

    <button id="button" @click="addName">Add name</button>

    <p>The value of the input is: </p>

  </div>

  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript">

    var app = new Vue ({

      el: "#root",

      data: {

        newName: ' ',

        names: ['Jane', 'Luis', 'Erik', 'Angie']

      },

      methods: {

        addName(){

          this.names.push(this.newName);

          this.newName = ' ';
        }
      },

    })

  </script>
</body>
</html>